/*Basic reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom properties */
:root {
  --red: #f22625;
  --social-panel: #464555;
  --font: "Open Sans", sans-serif;
  --yellow: #f7f530;
}

/* Global styles */
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 150px;
}

main {
  width: 40rem;
  background: linear-gradient(
    to right,
    #ed213a,
    #93291e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: inset 1px 1px 0.5rem rgba(0, 0, 0, 0.5);

  padding: 1rem;
  margin: 0 auto;
  border-radius: 1rem;
  text-align: center;
  color: white;
}

#pokemon::first-letter {
  text-transform: uppercase;
}

.container {
  background: linear-gradient(to bottom, #c9d6ff, #e2e2e2);
  box-shadow: inset 1px 1px 0.5rem rgba(0, 0, 0, 0.9);
  padding: 1rem;
}

input {
  margin-top: 1rem;
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2, #c9d6ff);
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

/************* Social Panel styles *************/

.social-panel-container {
  position: fixed;
  right: 0;
  bottom: 80px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
  transform: translateX(-10px);
}

.social-panel {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
  border: 5px solid var(--social-panel);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  position: relative;
  height: 300px;
  width: 170px;
  max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
  border: 0;
  color: #97a5ce;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
}

.social-panel button.close-btn:focus {
  outline: none;
}

.social-panel p {
  background-color: var(--social-panel);
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 17px 6px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  text-align: center;
}

.social-panel p i {
  margin: 0 5px;
}

.social-panel p a {
  color: var(--yellow);
  text-decoration: none;
}

.social-panel ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-panel ul li {
  padding: 0.5rem;
}

.social-panel ul li:first-child {
  margin-top: 7rem;
}

.social-panel ul li a {
  border: 1px solid #dce1f2;
  border-radius: 50%;
  color: var(--social-panel);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.twitter:hover {
  border-color: #00acee;
  box-shadow: 0 9px 12px -9px #00acee;
}

.linkedin:hover {
  border-color: #0e76a8;
  box-shadow: 0 10px 10px -9px #0e76a8;
}

.github:hover {
  border-color: #171515;
  box-shadow: 0 9px 12px -9px #171515;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: var(--social-panel);
  border: 1px solid var(--social-panel);
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #ffffff;
  color: var(--social-panel);
}

.floating-btn:focus {
  outline: none;
}

.floating-text {
  background-color: var(--social-panel);
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-family: var(--font);
  padding: 7px 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.floating-text a {
  color: var(--yellow);
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;
  }
}
